---
import { Image, type ImgAttributes } from 'astro:assets';
import icon from '../assets/mail.svg'

interface Props {
    buttonIcon?: any;
    href?: string;
    alt?: string;
}

const { buttonIcon, href, alt } = Astro.props;

---

<a href={href} class="flex bg-slate-900 text-white h-10 pr-4 pl-4 pt-2 pb-2 rounded-md items-center">
    <Image src={buttonIcon ? buttonIcon  : icon} alt={alt ? alt: "mail"} class="mr-2" width={24} height={24} />
    <slot />
</a>