---
import MobileNavbar  from './svelte/MobileNavbar.svelte';
---

<div transition:name="navbar" transition:persist transition:animate="none" class="w-full flex justify-center">
    <nav class="hidden w-full lg:flex justify-end lg:justify-between max-w-[1130px] mt-10">
        <div class="font-bold text-xl">
            &lt;/> Gui
        </div>
        <div class="font-semibold">
            <a href="/" class="p-4">Home</a>
            <a href="/portfolio" class="p-4">My Portfolio</a>
            <a href="/blog" class="p-4">My Blog</a>
            <a href="/contact" class="p-4">Contact</a>
        </div>
    </nav>
</div>

<MobileNavbar client:visible />