---
import { Image } from 'astro:assets';
import SectionTitle from '../components/SectionTitle.astro';
import Subheader from '../components/Subheader.astro';
import Layout from './Layout.astro'
import Button from '../components/Button.astro';
import github from '../assets/github-white.svg'
import arrow from '../assets/arrow-left.svg'
const { frontmatter } = Astro.props
---

<Layout title={frontmatter.titulo}>
    <div class="w-full mt-16 flex flex-row items-center justify-center">
		<div class="w-full max-w-[1000px] flex justify-between flex-row">
            <div>
                <SectionTitle>{frontmatter.titulo}</SectionTitle>
                <div class="mt-4">
                    <Subheader>{frontmatter.descricao}</Subheader>
                </div>
                <div class="text-base font-semibold mt-8 max-w-lg">
                    <slot />
                </div>
                <div class="flex gap-4 w-full mt-8 mb-8">
                    <Button buttonIcon={arrow} href='/blog'>Back to articles</Button>
                </div>
            </div>
        </div>
    </div>
</Layout>